@import '../../../packages/uikit/src/theme/tokens.css';

:root {
  --cv-radius-sm: 10px;
  --cv-radius-md: 13px;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 430px;
  min-height: 380px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  overflow: hidden;
}
